@import url("https://fonts.googleapis.com/css2?family=Lobster&family=Spline+Sans:wght@300..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Lobster&family=Spline+Sans:wght@300..700&display=swap");
@import "tailwindcss";

@variant dark (&:where(.dark, .dark *));

@theme {
  --breakpoint-xs: 20rem;
  --breakpoint-ss: 23.4375rem;
  --breakpoint-ms: 26.5625rem;
  --breakpoint-2xl: 100rem;
  --breakpoint-3xl: 120rem;
  --font-primary: "Lobster", sans-serif;
  --font-secondary: "Josefin Sans", sans-serif;
  --color-primary: #051c33;
  --color-secondary: #313850;
  --color-active: #0a3d62;
}

body {
  font-size: 14px;
  line-height: 1.42857143;
}

h1 {
  font-family: var(--font-primary);
}
h2 {
  font-family: var(--font-secondary);
}
h1,
h2 {
  color: var(--color-primary);
}


.active {
  background-color: var(--color-active);
}